.Rproj.user
.Rhistory
.RData
.Ruserdata
ref_mod
*xlsx
images/
s01/
s1_2.3/
s1_2.4/
s1_2.5/
s1_2.6/
executable/
Fig/
docs/
outputs/
bib/
*docx
*pdf
*csl
*bib
Yiel_Report_2
*csv
boot_manual/
bootstrap_runs/
Suppl_Mat_3_files/
*tex
*log
*sty

# Ignorar todo dentro de las carpetas de los modelos
EM/*


# Pero no ignorar estos archivos
!EM/s0/*data.ss
!EM/s0/*control.ss
!EM/s0/starter.ss
!EM/s0/forecast.ss

!EM/s1/*data.ss
!EM/s1/*control.ss
!EM/s1/starter.ss
!EM/s1/forecast.ss

!EM/s2/*data.ss
!EM/s2/*control.ss
!EM/s2/starter.ss
!EM/s2/forecast.ss

!EM/s3/*data.ss
!EM/s3/*control.ss
!EM/s3/starter.ss
!EM/s3/forecast.ss

!EM/s4/*data.ss
!EM/s4/*control.ss
!EM/s4/starter.ss
!EM/s4/forecast.ss

