.Rproj.user
.Rhistory
.RData
.Ruserdata
*xlsx
images/
s0/
s01/
s2/
s3/
s4/
s5/
s1_2.3/
s1_2.4/
s1_2.5/
s1_2.6/
executable/
Fig/
*docx
*pdf
*csl
*bib
Yiel_Report_2
*csv
boot_manual/
bootstrap_runs/
Suppl_Mat_3_files/
*tex
*log
*sty

# Ignorar todo dentro de la carpeta del modelo
s1/*

# Pero no ignorar estos archivos
!s1/*.dat
!s1/*.ctl
!s1/starter.ss
!s1/forecast.ss
